body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*  header */

body {
     background-color: #fff
}

.container {
     display: inline-block;
     width: 1400px;
     margin-left: calc(50% - 700px);
}
     
header.container {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 40px;
     margin-top: 40px;
     margin-bottom: 40px;    
}

.logo {
    height: 35px;
    margin-right: auto;
}

 nav {
      display: flex;
      gap: 30px;
}

nav > a {
    line-height: 30px;
    color: grey;
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
}

nav > a.active {
color: pink;
}

/* ******** */
/*  content */
/* ******** */

main.container {
height: 200vh;
}

/*  first section */

.first-section {
display: flex;
flex-direction: column;
gap: 40px;
background-color: red;
}

.first-section > h6 {
    font-size: 18px;
    background-color: aquamarine;

}

.first-section > h1 {
background-color: yellow;
}

.first-section > p {
background-color: green;
}

.first-section > a {
background-color: bisque;
}

.first-section > a > span {
background-color: aqua;
}

.first-section > .first-photo {
    background-color: blue
}

.first-section > .first-photo > .graphic {

}

/*  second section */

.second-section {
}

.second-section > h3 {

}

.second-section > p {

}

/*  third section */

.third-section {
}

/*  fourth section */

.fourth-section {
}

.fourth-section > .top {

}

.fourth-section > .top > h3 {

}

.fourth-section > .top > p {

}

.fourth-section > .top > a {

}

.fourth-section > .auction {

}

.fourth-section > .auction > .nft-images {

}

.fourth-section > .auction > .nft-images-bid {

}

.fourth-section > .auction > .nft-images-bid > .purple {

}

.fourth-section > .auction > .nft-images-bid > .purple > .gloop {

}

.fourth-section > .auction > .nft-images-bid > .purple > .top {

}

.fourth-section > .auction > .nft-images-bid > .purple > .purple {

}

.fourth-section > .auction > .nft-images-bid > .purple > img {

}

.fourth-section > .auction > .nft-images-bid > .purple > .eth {

}

.fourth-section > .auction > .nft-images-bid > .purple > .number {

}

.fourth-section > .auction > .nft-images-bid > .purple > .day {

}
.fourth-section > .auction > .nft-images-bid > .beige {

}

.fourth-section > .auction > .nft-images-bid > .beige > .gloop {

}

.fourth-section > .auction > .nft-images-bid > .beige > .top {

}

.fourth-section > .auction > .nft-images-bid > .beige > .beige {

}

.fourth-section > .auction > .nft-images-bid > .beige > img {

}

.fourth-section > .auction > .nft-images-bid > .beige > .eth {

}

.fourth-section > .auction > .nft-images-bid > .beige > .number {

}

.fourth-section > .auction > .nft-images-bid > .beige > .day {

}

.fourth-section > .auction > .nft-images-bid > .red {

}

.fourth-section > .auction > .nft-images-bid > .red > .gloop {

}

.fourth-section > .auction > .nft-images-bid > .red > .top {

}

.fourth-section > .auction > .nft-images-bid > .red > .red {

}

.fourth-section > .auction > .nft-images-bid > .red > img {

}

.fourth-section > .auction > .nft-images-bid > .red> .eth {

}

.fourth-section > .auction > .nft-images-bid > .red > .number {

}

.fourth-section > .auction > .nft-images-bid > .red > .day {

}

.fourth-section > .auction > .nft-images-bid > .red {

}

.fourth-section > .auction > .nft-images-bid > .red > .gloop {

}

.fourth-section > .auction > .nft-images-bid > .red > .top {

}

.fourth-section > .auction > .nft-images-bid > .red > .red {

}

.fourth-section > .auction > .nft-images-bid > .red > img {

}

.fourth-section > .auction > .nft-images-bid > .red > .eth {

}

.fourth-section > .auction > .nft-images-bid > .red > .number {

}

.fourth-section > .auction > .nft-images-bid > .red > .day {

}

/* fifth section */

